@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.greetings {
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 10px;
    flex-grow: 1; /* Evita que empuje el mensaje hacia abajo */
    text-align: center;
}

.greetings > span {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #fbff00, 0 0 50px #fbff00, 0 0 100px #fbff00;
    }
    10%, 90% {
        color: #696565;
        text-shadow: none;
    }
}

.greetings > span:nth-child(2) {
    animation-delay: .2s;
}

.greetings > span:nth-child(3) {
    animation-delay: .4s;
}

.greetings > span:nth-child(4) {
    animation-delay: .6s;
}

.greetings > span:nth-child(5) {
    animation-delay: .8s;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 10px;
    flex-grow: 1;
    text-align: center;
    color: #fbff00;
}

.mensaje {
    color: aliceblue;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1; /* Permite que el div crezca de manera proporcional */
}

.button a {
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

.button {
    margin-bottom: 10px;
    flex-grow: 0;
}

/* Estilo para el botón */
.button button {
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}

/* Estilo para el enlace dentro del botón */
.button button a {
    text-decoration: none;
    color: inherit;
}

/* Efecto de resplandor al pasar el cursor sobre el botón */
.button button:hover {
    background-color: orange;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

@media screen and (max-width: 574px) {
    .greetings {
        display: block;
        font-size: 3rem;
        margin-bottom: 5px;
        font-weight: 500;
        text-align: center;
    }
    .description {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .mensaje {
        font-size: 1rem;
        margin-top: 5px;
    }
    .button a {
        font-size: .8rem;
    }
}
